 /*PORTAL STYLES*/
 
 .ui-dialog {
     top: 170px !important;
 }
 
 .wrapper {
     background-color: white;
     position: relative;
     /*max-width: 1000px;*/
     margin: auto;
     margin-bottom: 50px;
     overflow: hidden;
     border-radius: 3px;
     width: 80%;
     min-height: 600px;
     max-height: 600px;
     box-shadow: 0px 2px 1px #999;
 }
 
 .main {
     background-color: white;
     width: 100%;
     position: relative;
     min-height: 600px;
     max-height: 600px;
     height: 100%;
 }
 
 .sideBar {
     background-color: #E9E9E9;
     height: 80%;
     position: relative;
     box-shadow: 0.5px 0px 2px #666;
     /* min-height: 600px;
     max-height: 600px; */
     height: 100%;
 }
 
 .mainFolderFileList ul {
     list-style: none !important;
     max-height: 140;
     overflow: auto;
     max-width: 100%;
     min-width: 170;
 }
 
 .cPannel,
 .cPannelBottom {
     list-style: none;
     margin-top: 10px;
     border-top: 1px solid #ddd;
     padding: 0px;
     margin: 0px;
     width: 100%;
 }
 
 .cPannelBottom {
     position: absolute;
     bottom: 0;
     border-top: 1px solid #ddd;
     width: 100%;
 }
 
 .cPannel li,
 .cPannelBottom li {
     padding: 0px;
     margin: 0px;
     width: 100%;
 }
 
 .cPannel li a,
 .cPannelBottom li a {
     display: block;
     width: 100%;
     padding: 5px;
     padding-left: 20px;
     color: #333;
     text-decoration: none;
     font-size: 9pt;
 }
 
 .cPannelBottom li a {
     padding: 20px;
 }
 
 .cPannel li a:hover,
 .cPannelBottom li a:hover,
 .cPannel li a:focus,
 .cPannelBottom li a:focus {
     background-color: #ddd;
 }
 
 .cPannel li a i,
 .cPannelBottom li a i {
     font-size: 10pt;
     margin-right: 5px;
 }
 
 .cPannel .genCertBtnCtnr {
     text-align: center;
     padding: 12px;
 }
 
 .cPannel .genCertBtnCtnr button {
     padding: 6px;
 }
 
 .logOutBtn:hover {
     background-color: darkred !important;
     color: white !important;
 }
 
 .headerPortal {
     padding: 14px 0px;
     width: 80%;
     margin: auto;
 }
 
 .slogan {}
 
 .slogan p {
     text-align: center;
     letter-spacing: 0 !important;
     font-size: 9pt;
     color: black;
     line-height: 1;
 }
 /*JQUERY UI */
 
 #dialog-message .ui-dialog-titlebar {
     background-color: green;
     color: white;
 }
 
 #crearFolderForm .ui-dialog-titlebar {
     background-color: blue;
     color: white;
 }
 /*SUB CLASES*/
 
 a:focus,
 button:focus,
 input:focus {
     outline: none;
 }
 
 #dialog-message,
 #formDialog,
 #dialogo_confirmacion {
     display: none;
 }
 
 #formDialog {
     padding: 15px 20px !important;
     overflow: unset;
     font-size: 9pt;
     line-height: 1.3;
 }
 
 #formDialog select,
 input[type=text] {
     width: 100%;
     height: 30;
     padding-left: 7px;
     margin-top: 8;
 }
 
 #dialogo_confirmacion .confirmacion_mensaje {
     font-size: 10pt;
     padding-top: 20px !important;
     padding-right: 0px !important;
     line-height: 1;
     /* width: 240px; */
     display: block;
     margin: auto;
     margin-left: 50;
 }
 
 #dialog-message .dialog_mess {
     font-size: 10pt;
     padding-top: 10px !important;
     padding-right: 0px !important;
     line-height: 1;
     /* width: 240px; */
     display: block;
     margin: auto;
     margin-left: 35;
 }
 
 .borde_radio_3px {
     border-radius: 3px;
 }
 
 .row {
     margin: 0px !important;
     padding: 0px !important;
 }
 
 .col-md-1,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-2,
 .col-10 {
     margin: 0px !important;
     padding: 0px !important;
 }
 /*SUB CLASES*/
 
 .logoPortal {
     width: 170px;
 }
 
 .loadingCtn {
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 2020;
     background-color: rgba(255, 255, 255, .5);
     display: none;
 }
 
 .loading {
     width: 80px;
     height: 60px;
     margin: auto;
     background: url(../img/Blocks.svg);
     background-size: cover;
     background-position-x: 0px;
     background-position-y: 0;
 }
 
 .loadBg {
     z-index: 2020;
     margin-top: 15% !important;
     background-color: white;
     width: 87px;
     height: 87px;
     padding: 0px;
     margin: auto;
     position: relative;
     box-shadow: 0px 1px 2px #aaa;
     border-radius: 3px;
 }
 
 .certificado {
     display: none;
 }
 
 .dash {
     position: relative;
     background-color: transparent !important;
     height: 500px;
 }
 
 .empBox {
     background-color: white;
     padding: 8px 0px !important;
     width: 100%;
     font-size: 8pt !important;
     cursor: pointer;
 }
 
 .empRowCtnr:nth-child(odd) {
     background-color: #eee;
 }
 
 .empBox:hover .nitEmp {
     text-decoration: underline;
 }
 
 .empBox .col-md-1 {}
 
 .empBox img {
     width: 50%;
     margin: auto;
     display: block;
 }
 
 .empBox p {
     width: 100%;
     white-space: nowrap;
 }
 
 .empresas_contenedor,
 .fileContainer {
     display: none;
 }
 
 .empresas_contenedor {
     width: 95%;
     margin: auto;
     box-shadow: 0px 1px 1.5px #aaa;
 }
 
 .empresas_contenedor h4 {
     border-bottom: solid 1px #eee;
     padding: 20px;
     margin-top: 50px;
     margin-bottom: 0px !important;
     color: #333 !important;
 }
 
 .empresas_contenedor .empRowCtnr {
     max-height: 700px;
     overflow: auto;
 }
 
 .datos_empresa_contenedor {
     margin-top: 50px;
     padding-top: 14;
     width: 90%;
     margin: auto;
 }
 
 .empresas_vinculadas_ctnr {}
 
 .logoEmpCtnr {
     padding: 15px;
     position: relative;
     background-color: white;
     margin-top: 13px;
     height: 70%;
     margin: auto;
     text-align: center;
 }
 
 .logoEmpCtnr img {
     vertical-align: middle;
     width: 90% !important;
 }
 
 .datos_de_empresa {
     font-size: 9pt !important;
 }
 
 .datosEmpresa {
     background-color: white;
     border: solid 1px #eee;
     margin: auto;
     box-shadow: 0px 1px 1.5px #aaa;
 }
 
 .datosEmpresa .row p {
     padding: 4px;
     padding-left: 10px;
     margin-bottom: 0;
 }
 
 .secH4 {
     padding: 10px;
     border-bottom: solid 1px #eee;
     color: #333;
     margin: 0px !important;
 }
 
 .secTbl {
     padding: 6px !important;
 }
 
 .secTbl .row .col-md-6 {
     padding-left: 7px !important;
 }
 
 .perCtner {
     background-color: white;
 }
 
 .formato_periodo_empresa .formatoPerTbl {
     background-color: white;
     padding: 0px;
     margin: auto;
     margin-top: 13px;
     border: solid 1px #eee;
     box-shadow: 0px 1px 1.5px #aaa;
 }
 
 .formato_periodo_empresa .formatoPerTbl a {
     padding: 3px 10px !important;
     display: block;
     font-size: 8pt !important;
     width: 100%;
 }
 
 .formato,
 .period {
     color: #333;
 }
 
 .period {
     text-align: center;
 }
 
 .formato:hover,
 .period:hover {
     background-color: #333;
     color: #ccc;
     cursor: pointer;
     text-decoration: none;
 }
 
 .formato:focus,
 .period:focus {
     background-color: #333;
     color: #ccc;
 }
 
 .generar_certificado_boton {
     padding: 15px 0px;
     text-align: center;
     width: 100%;
 }
 
 .generar_certificado_boton .imprimirBtn,
 .generar_certificado_boton .pdfBtn,
 .generar_certificado_boton .guardarBtn {
     background-color: #eee;
     border: 1px solid #ddd;
     border-radius: 2px;
     color: #333;
     padding: 10px;
     font-size: 18pt;
     display: none;
 }
 
 .generar_certificado_boton .imprimirBtn:hover,
 .generar_certificado_boton .pdfBtn:hover,
 .generar_certificado_boton .guardarBtn:hover {
     color: #aaa;
 }
 
 .selFormatoMess,
 .selPerMess {
     padding: 15px;
     text-align: center;
 }
 
 .fileContainer {
     position: relative;
     width: 95%;
     margin: auto;
     margin-top: 50px;
     box-shadow: 0px 1px 2px #aaa;
 }
 
 .fileContainer h4 {
     color: #333;
     padding: 20px;
     border-bottom: 1px solid #eee;
     margin: 0 !important;
 }
 
 .fileContainer .row {
     max-height: 390px;
     overflow: auto;
 }
 
 .docRow {
     padding: 5px 20px !important;
     position: relative !important;
     font-size: 10;
 }
 
 .docRowHeaders {
     padding: 5px 20px !important;
     position: relative !important;
     background-color: #ddd;
     border-bottom: 1px solid #eee;
 }
 
 .docRowHeaders p,
 .docRow p {
     width: 100%;
     margin-top: 11px;
 }
 
 .docRow:nth-child(odd) {
     background-color: #eee;
 }
 
 .docRow .docRowInnerCtnr {
     position: relative;
     padding: 10px !important;
 }
 
 .filesLoading {
     display: none;
     position: absolute;
     left: 50%;
     top: 20%;
 }
 
 .folderlist {
     border-bottom: 1px solid #eee;
     padding: 15px 20px;
     background-color: #eee;
 }
 
 .folderlist a {
     display: inline !important;
     background-color: transparent !important;
     padding: 0px !important;
     padding-left: 0px !important;
 }
 
 .folderlist a:hover {
     background-color: transparent !important;
     text-decoration: underline !important;
 }
 
 .delfile {
     font-size: 12pt !important;
     color: #ddd;
     position: absolute;
     top: 10;
     right: 15;
 }
 
 .delfile:hover {
     color: darkred !important;
     cursor: pointer;
 }
 
 .newDocumBtn {
     padding: 8px;
     position: relative !important;
     border-radius: 3px;
     border: 1px solid #eee;
     box-shadow: 0px 1px 1px #eee;
     background-color: white;
     color: #ddd;
     transition: .3s ease-in-out;
     margin: 5px;
 }
 
 .newFolderBtn {
     margin-left: 39;
     margin-top: 7;
 }
 
 .fileContrBtns {
     position: absolute;
     width: 100px;
     right: 15px;
     top: 10px;
     text-align: right;
     font-size: 10px;
 }
 
 .newDocumBtn:hover {
     color: #333;
 }
 
 .folderBtn {
     color: #333;
     font-size: 7pt !important;
 }
 
 .detalles_folder {
     display: none;
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 2020;
     padding: 50px 150px;
     background-color: rgba(35, 35, 45, 1);
 }
 
 .cambiarDatosFormCtnr {
     display: none;
     width: 95%;
     margin: auto;
     margin-top: 50px;
     box-shadow: 0px 1px 2px #aaa;
 }
 
 .cambiarDatosFormCtnr h4 {
     padding: 20px;
     border-bottom: solid 1px #eee;
 }
 
 .cambiarDatosFormCtnr .ctn {
     width: 100%;
     height: 380;
     margin: auto;
     background-color: white;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6 {
     position: relative !important;
 }
 
 .cambiarDatosFormCtnr .ctn .row {
     border-bottom: 1px solid #fefe;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6 div {
     height: 50px;
     line-height: 4;
     letter-spacing: 1.3;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(odd) div {
     padding-left: 20px;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(even) .row {
     border-bottom: none;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(even) .row div:nth-child(even) {
     text-align: center;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(even) .row div:nth-child(odd) p {
     color: #ccc;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(even) .row div:nth-child(even) i {
     line-height: 3;
     font-size: 15pt;
     color: #ccc;
 }
 
 .cambiarDatosFormCtnr .ctn .row .col-md-6:nth-child(even) .row div:nth-child(even) i:hover {
     color: #333;
     cursor: pointer;
 }
 /*-----------------------------------------------------*/