 /* FRONT PAGE STYLES */
 
 img,
 embed,
 object,
 video {
     max-width: 100%;
 }
 
 .container {
     width: 100% !important;
     margin: 0px !important;
     padding: 0px !important;
 }
 
 .header {
     position: relative;
     background-color: #ffcc66;
     width: 100% !important;
     padding: 7px;
     border-bottom: 1px solid darkred;
 }
 
 .header img {
     width: 160px;
 }
 
 .signInBtn {
     padding: 8;
     font-size: 9pt;
     background-color: white;
     border: #ddd 1px solid;
     border-radius: 2px;
 }
 
 .signInBtn:hover {
     color: silver;
 }
 
 .subHead {
     background-color: rgba(255, 249, 259, .5);
     border-bottom: solid 1px #ccc;
 }
 
 .mainContent {
     width: 100%;
     background: url(../img/prometeoFrontImg.jpg) no-repeat center center fixed;
     background-size: cover;
     position: relative;
     margin: 0px !important;
     height: 330;
     box-shadow: 0px 1px 2px #333;
 }
 
 .mainTitleContainer {
     padding: 5% 0px;
 }
 
 .mainTitleContainer .mainTitle {
     color: black;
     width: 90%;
 }
 
 .col-md-6.mainTitleContainer .row {
     margin-left: 0px;
 }
 
 .registrarseBtn {
     background-color: darkred;
     padding: 8;
     font-size: 9pt;
     color: white;
     border: #ddd 1px solid;
     border-radius: 2px;
     width: 95%;
 }
 
 .registrarseBtn:hover {
     background-color: orangered;
 }
 
 .stkContainer {
     margin: auto;
     width: 70.5%;
     border: solid 1px rgba(255, 255, 255, .4);
     margin-top: 5% !important;
     margin-left: 19% !important;
     font-size: 8pt !important;
     color: black;
     padding: 15px !important;
     background-color: rgba(255, 255, 255, .4);
     position: relative !important;
     border-radius: 3px;
 }
 
 .stkContainer div {
     padding: 0px !important;
     margin: 0px !important;
 }
 
 .stkContainer div .row div {
     margin-top: 10px !important;
 }
 
 .stkContainer div .row:nth-child(odd) {
     color: #333;
 }
 
 .stkContainer small {
     white-space: nowrap;
     line-height: 3
 }
 
 .stkContainer h4 {
     font-size: 10pt
 }
 
 .triaPositivo {
     color: green;
 }
 
 .triaNegativo {
     color: red;
 }
 
 .triaNeutral {
     transform: rotate(90deg);
 }
 
 .stkTitle {
     font-weight: bolder;
 }
 
 .navLinks {
     list-style: none;
     float: left;
     margin: 0px;
     padding-left: 9.2%;
 }
 
 .navLinks li {
     float: left;
     padding: 19px;
     color: #777;
     font-size: 9pt;
 }
 
 .navLinks li:hover {
     color: black;
 }
 
 .otherLinks {
     padding-bottom: 9px !important;
     width: 90%;
     margin: auto;
 }
 
 .otherLinks img {
     width: 110px
 }
 
 .otherLinks .bancoRepImg {
     width: 80px;
 }
 
 .otherLinks div {
     text-align: center;
 }
 
 .otherLinks h3 {
     text-align: left;
     padding: 10px 0px;
     border-bottom: 1px solid darkred;
     width: 300px;
     margin-left: 70px;
     margin-bottom: 15px;
 }
 /* FRONT PAGE STYLES END*/
 /*-----------------------------------------------------*/
 /*REGISTRATION FORM MAIN PAGE*/
 
 .formContainer {
     max-width: 400px;
     padding: 0px 0px;
     background-color: white;
     border: solid 1px #eee;
     border-radius: 3px;
     position: fixed;
     z-index: 2;
     margin: -87px auto;
     left: 0;
     right: 0;
     box-shadow: 0px 1px 1px #333;
     display: none;
     overflow: hidden;
 }
 
 .formContainer button {
     background-color: darkred;
     color: white;
     border: none;
     border-radius: 3px !important;
     padding: 10px 20px;
     width: 100%;
     padding: 5px;
     border: solid 1px #ccc;
     border-radius: 5px;
     margin-top: 3px;
 }
 
 .formContainer button:hover {
     background-color: orange;
 }
 
 .closeRegBtn {
     color: #ccc;
 }
 
 .closeRegBtn:hover {
     color: #333;
 }
 
 #recPassForm {
     display: none;
 }
 
 #regForm,
 #recPassForm {
     margin-top: 0px;
     margin-bottom: 15px;
     padding: 0 40 !important;
 }
 
 #regForm input,
 #recPassForm input {
     width: 100%;
     margin: 3px 0px;
     padding: 7;
     border-radius: 3px;
     border: #eee solid .5px;
     outline: none;
 }
 
 #recPassForm {
     padding: 0px 0px;
 }
 
 .ui-widget-header {
     border: 0px !important;
     background: #eee;
     color: #333333;
     font-weight: bold;
     border-radius: 2px !important;
 }
 
 .log_box_title {
     text-align: center;
     width: 100%;
     padding: 10px;
     background-color: #333;
     color: white;
     font-size: 14pt;
 }
 
 #login-dialog-modal .fa {
     font-size: 25pt;
     display: block;
     margin-top: 15px;
 }
 
 #login-dialog-modal .dialog_mess {
     font-size: 10pt;
     padding-top: 10px !important;
     padding-right: 0px !important;
     line-height: 1;
     /* width: 240px; */
     display: block;
     margin: auto;
     margin-left: 35;
     padding-left: 15px;
 }
 
 .ui-dialog {
     position: absolute;
     height: 300px;
     width: 280px;
     top: 26% !important;
     left: 570.5px;
     z-index: 101;
     padding: 0px;
 }
 
 .ui-dialog-titlebar {
     padding: 1em 1em !important;
     background-color: #eee;
 }
 
 .ui-corner-all {
     border-radius: 2px !important;
 }
 /*REGISTRATION FORM MAIN PAGE ENDS*/
 /*-----------------------------------------------------*/
 /*PARSLEY STYLES*/
 
 .parsley-errors-list {
     list-style: none;
     padding: 0px;
     margin: 0px;
 }
 
 .parsley-errors-list li {
     font-size: 8pt;
     padding: 0px;
     margin: 0px;
     white-space: nowrap;
     color: red;
 }
 /*PARSLEY STYLES ENDS*/
 /*-----------------------------------------------------*/