 /* FRONT PAGE STYLES */
 
 .container {
     width: 100% !important;
     margin: 0px !important;
     padding: 0px !important;
 }
 
 .header {
     position: relative;
     background-color: #ffcc66;
     width: 100% !important;
     padding: 20px;
     border-bottom: 1px solid orangered;
 }
 
 .header img {
     width: 200px;
 }
 
 .header .signInBtn {
     margin-top: 5%;
     padding: 8;
     font-size: 9pt;
     background-color: white;
     border: #ccc 1px solid;
     border-radius: 5px;
 }
 
 .header .signInBtn:hover {
     color: silver;
 }
 
 .subHead {
     background-color: rgba(255, 249, 259, .5);
     border-bottom: solid 1px #ccc;
 }
 
 .mainContent {
     width: 100%;
     background: url('../img/prometeoFrontImg.jpg') no-repeat center center fixed;
     background-size: cover;
     position: relative;
     border-bottom: 1px solid #ccc;
     margin: 0px !important;
 }
 
 .mainTitleContainer {
     padding: 12% 0px;
 }
 
 .mainTitleContainer .mainTitle {
     color: black;
     width: 90%;
 }
 
 .registrarseBtn {
     width: 150px;
     background-color: orangered;
     padding: 5px;
     color: white;
     border: none;
     border-radius: 5px;
     margin-top: 20;
 }
 
 .registrarseBtn:hover {
     background-color: orange;
 }
 
 .stkContainer {
     margin: auto;
     width: 70.5%;
     border: solid 1px rgba(255, 255, 255, .4);
     margin-top: 20% !important;
     margin-left: 19% !important;
     font-size: 8pt !important;
     color: black;
     padding: 20px !important;
     background-color: rgba(255, 255, 255, .4);
     position: relative !important;
     border-radius: 5px;
     box-shadow: 0 8px 6px -7px #333;
 }
 
 .stkContainer div {
     padding: 0px !important;
     margin: 0px !important;
 }
 
 .stkContainer div .row div {
     margin-top: 10px !important;
 }
 
 .stkContainer div .row:nth-child(odd) {
     color: #333;
 }
 
 .stkContainer small {
     white-space: nowrap;
     line-height: 3
 }
 
 .stkContainer h4 {
     font-size: 10pt
 }
 
 .triaPositivo {
     color: green;
 }
 
 .triaNegativo {
     color: red;
 }
 
 .triaNeutral {
     transform: rotate(90deg);
 }
 
 .stkTitle {
     font-weight: bolder;
 }
 
 .navLinks {
     list-style: none;
     float: left;
     margin-top: 13px;
 }
 
 .navLinks li {
     float: left;
     padding: 20px 20px;
     color: #777;
 }
 
 .navLinks li:hover {
     color: black;
 }
 
 .otherLinks {
     padding-bottom: 5px !important;
 }
 
 .otherLinks img {
     width: 130px
 }
 
 .otherLinks .bancoRepImg {
     width: 100px;
 }
 
 .otherLinks div {
     text-align: center;
 }
 
 .otherLinks h2 {
     text-align: left;
     padding: 10px 0px;
     border-bottom: 1px solid orangered;
     width: 300px;
     margin-left: 70px;
 }
 /* FRONT PAGE STYLES END*/
 /*-----------------------------------------------------*/
 /*REGISTRATION FORM MAIN PAGE*/
 
 .formContainer {
     max-width: 400px;
     padding: 0px 40px;
     background-color: white;
     border: solid 1px #ccc;
     border-radius: 5px;
     position: fixed;
     z-index: 2001;
     margin: -87px auto;
     left: 0;
     right: 0;
     box-shadow: 0px 1px 4px #333;
     display: none;
 }
 
 .formContainer form {
     margin: 0px;
 }
 
 .formContainer input {
     width: 100%;
     margin: 5px 0px;
     padding: 5px;
     border: solid 1px #ccc;
     border-radius: 5px;
 }
 
 .formContainer button {
     background-color: orangered;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     width: 100%;
     padding: 5px;
     border: solid 1px #ccc;
     border-radius: 5px;
 }
 
 .formContainer button:hover {
     background-color: orange;
 }
 
 .closeRegBtn {
     color: #ccc;
 }
 
 .closeRegBtn:hover {
     color: #333;
 }
 /*REGISTRATION FORM MAIN PAGE ENDS*/
 /*-----------------------------------------------------*/
 /*LOG IN PAGE STYLES */
 
 #regForm,
 #recPassForm {
     display: none;
 }
 
 .message_field {
     display: none;
 }
 
 .contain {
     margin-top: 3%;
 }
 
 .logo {
     width: 250px;
     margin: auto;
     position: relative;
     margin-bottom: 30px;
     text-align: center;
 }
 
 .logo img {
     width: 230px;
     margin-left: -30px;
 }
 
 .logo h2 {
     color: white;
     font-weight: 200;
 }
 
 .logBox {
     max-width: 450px;
     margin: 10px auto;
     border: #ccc 1px solid;
     border-radius: 7px;
     background-color: white;
     box-shadow: 0px 2px 5px #333;
     position: relative !important;
 }
 
 #regForm,
 #loginForm,
 #recPassForm {
     margin-top: 20px;
 }
 
 #loginForm {
     margin-top: 30px;
 }
 
 #regForm input,
 #loginForm input,
 #recPassForm input {
     width: 100%;
     margin: 5px 0px;
     padding: 10px;
     border-radius: 5px;
     border: #ccc solid .5px;
     outline: none;
 }
 
 #loginForm,
 #regForm,
 #recPassForm {
     padding: 0px 40px;
 }
 
 #loginForm input[type=text],
 #loginForm input[type=password] {
     padding-left: 50px;
 }
 
 #loginForm input:focus {
     border: #333 solid .5px;
 }
 
 #loginForm .userIcon,
 #loginForm .passIcon {
     font-size: 16px;
     position: absolute;
     top: 19;
     left: 30;
     padding-right: 10px;
     border-right: 1px solid #8799AD;
     color: #333;
 }
 
 #loginForm .logInBtn,
 #regForm .regSubBtn,
 #recPassForm button {
     width: 100%;
     padding: 10px;
     border-radius: 5px;
     border: orangered solid .5px;
     color: white;
     background-color: orangered;
 }
 
 #loginForm .logInBtn:hover,
 #regForm .regSubBtn:hover,
 #recPassForm button:hover {
     background-color: orange;
 }
 
 .logBox .newUserLinkBox {
     margin: 10px auto;
     border-top: 1px solid #ccc;
     padding-top: 20px;
     width: 70%;
 }
 
 .logBox .newUserLinkBox p {
     text-align: center;
 }
 
 .logBox .newUserLinkBox p a {
     color: #ccc;
 }
 
 .logBox .newUserLinkBox p a:hover {
     color: #333;
 }
 
 .logBox .loginMess {
     color: orangered;
     text-align: center;
 }
 
 .logBoxActionBtns button {
     width: 100%;
     padding: 15px;
     border: none;
     background-color: #ccc;
 }
 
 .logBoxActionBtns div:nth-child(1) button {
     border-top-left-radius: 7px;
 }
 
 .logBoxActionBtns div:nth-child(2) button {
     border-top-right-radius: 7px;
 }
 
 .logBoxActionBtns button:focus {
     background-color: #333;
     outline: none;
     color: white;
 }
 
 .logBoxActionBtns div:nth-child(1) {
     padding-right: 0px;
 }
 
 .logBoxActionBtns div:nth-child(2) {
     padding-left: 0px;
 }
 
 .httMess {
     width: 100%;
     padding: 10px 0px;
     background-color: rgba(255, 63, 52, .8);
     color: white;
     text-align: center;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2001;
     display: none;
 }
 /* LOG IN PAGE STYLES ENDS*/
 /*-----------------------------------------------------*/
 /*PARSLEY STYLES*/
 
 .parsley-errors-list {
     list-style: none;
     padding: 0px;
     margin: 0px;
 }
 
 .parsley-errors-list li {
     font-size: 8pt;
     padding: 0px;
     margin: 0px;
     white-space: nowrap;
     color: red;
 }
 /*PARSLEY STYLES ENDS*/
 /*-----------------------------------------------------*/